In [1]:
# Cell 1: Imports and setup
import os
import sys
import pandas as pd

# Add root path
sys.path.append(os.path.abspath(".."))

from src.utils import load_brent_data
from src.detection import compute_log_returns, run_bayesian_change_point_model, plot_change_point

WARNING (pytensor.configdefaults): g++ not available, if using conda: `conda install gxx`
WARNING (pytensor.configdefaults): g++ not detected!  PyTensor will be unable to compile C-implementations and will default to Python. Performance may be severely degraded. To remove this warning, set PyTensor flags cxx to an empty string.

In [2]:
# Cell 2: Load data
df = load_brent_data("../data/BrentOilPrices_Updated.csv")
df.head()

d:\week-10\brent-oil-change-point-analysis\src\utils.py:10: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date'] = pd.to_datetime(df['Date'])

        Date  Price
0 1987-05-20  18.63
1 1987-05-21  18.45
2 1987-05-22  18.55
3 1987-05-25  18.60
4 1987-05-26  18.63

In [3]:
# Cell 3: Compute log returns
df_returns = compute_log_returns(df)
df_returns.head()

        Date  Price  LogReturn
1 1987-05-21  18.45  -0.009709
2 1987-05-22  18.55   0.005405
3 1987-05-25  18.60   0.002692
4 1987-05-26  18.63   0.001612
5 1987-05-27  18.60  -0.001612

In [ ]:
# Cell 4: Run Bayesian Change Point Detection
returns = df_returns['LogReturn'].values
model, trace = run_bayesian_change_point_model(returns)

Sequential sampling (2 chains in 1 job)
CompoundStep
>Metropolis: [tau]
>NUTS: [mu1, mu2, sigma1, sigma2]
d:\week-10\brent-oil-change-point-analysis\venv\Lib\site-packages\pytensor\scalar\basic.py:2094: RuntimeWarning: divide by zero encountered in divide
  return x / y
d:\week-10\brent-oil-change-point-analysis\venv\Lib\site-packages\pytensor\scalar\basic.py:2094: RuntimeWarning: overflow encountered in divide
  return x / y
d:\week-10\brent-oil-change-point-analysis\venv\Lib\site-packages\pytensor\scalar\basic.py:3297: RuntimeWarning: overflow encountered in scalar multiply
  return x * x
d:\week-10\brent-oil-change-point-analysis\venv\Lib\site-packages\pytensor\tensor\elemwise.py:1411: RuntimeWarning: invalid value encountered in reduce
  out = self.ufunc.reduce(input, axis=axis, dtype=acc_dtype)

In [ ]:
# Step 4: Visualize results
change_date = plot_change_point(trace, df_returns)